<div class="container	content">
    <div class="row">
        <div class="col-md-6	offset-md-3">
            <span class="anchor" id="formLogin"></span>
            <!-- form	card	login	with	validation	feedback	-->
            <div class="card	card-outline-secondary">
                <div class="card-header">
                    <h3 class="mb-0">Add user to list</h3>
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="id">Id:</label>
                            <input type="text" class="form-control" id="id" placeholder="Type your Id..." #Id>
                        </div>
                        <div class="form-group">
                            <label for="Name">Name:</label>
                            <input type="text" class="form-control" id="Name" placeholder="Type your Name..."
                                #Name>
                        </div>
                        <div class="form-group">
                            <label for="LastName">Last Name:</label>
                            <input type="text" class="form-control" id="LastName" placeholder="Type your Last Name..." #LastName>
                        </div>
                        <div class="form-group">
                            <label for="age">Age:</label>
                            <input type="text" class="form-control" id="age" placeholder="Type your Age..." #Age>
                        </div>
                        <div class="form-group">
                            <label for="Url">Imagen Url:</label>
                            <input type="text" class="form-control" id="Url" placeholder="Copy your Url Image..." #Url>
                        </div>
                        <button type="submit" class="btn btn-primary"
                            (click)="save(Id.value,Name.value,LastName.value,Age.value,Url.value)">Save!</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <hr class="mb-5">
    <div class="row row-flex">
        <app-user *ngFor="let d of InfoUsers" [UserInfo]="d"></app-user>
    </div>
</div>