<div class="card-content">
    <div class="card-img">
        <img src={{UserInfo.Url}} alt="">
        <span>
            <h4>{{UserInfo.Name}}</h4>
        </span>
    </div>
    <div class="card-desc">
        <h3>Id:</h3>
        <p>  {{UserInfo.Id}}</p>
        <h3>Name:</h3>
        <p>  {{UserInfo.Name}}</p>
        <h3>Last Name:</h3>
        <p>  {{UserInfo.LastName}}</p>
        <h3>Age:</h3>
        <p>  {{UserInfo.Age}}</p>
        <!--Esto es un comentario
        <h3>Image Url:</h3>
        <p>  {{UserInfo.Url}}</p>-->
        <a href="#" class="btn-card">Read</a>
    </div>
</div>